* {
    scrollbar-width: thin;
    scrollbar-color: #f1f0f1 #f7f9fa;
  }
  

  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #070d12;
    border-radius: 20px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #493df0d5;
    border-radius: 20px;
    border: 3px solid #070d12;
  }